{% extends 'app/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <div class="card mb">
        <div class="row">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ user.first_name }}</h5>
              <p class="card-text"><small class="RutEmpresa">{{ user.first_name }}</small></p>
            </div>
          </div>
        </div>
      </div>


      <div class="container">
        <hr>
        <H2 class="text-center" style="color:#4E16D1;"> Solicitud asesoría especial</H2>
        <hr style="color: #4E16D1" ;>
        <form action="" method="post">
          {% csrf_token %}
          <div class="card mb">
            {{ form | crispy }}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-secondary" type="">Atras</button>
              <button class="btn btn-dark" style="background-color: #4E16D1;"
                type="submit">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br>
{% endblock %}