{% extends 'app/base.html' %}
{% block contenido %}
{% load static %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>

        <div class="col-md-11">
            {% for v in vistaClientess %}

            <div class="card mb">
                <div class="row">
                    <div class="col-md-2">
                        <br>
                        <br>
                        <h1 class="text-center">{{ v.nombre }}
                        </h1>
                        <h6 class="text-center">
                            {{ v.rut }}
                        </h6>

                    </div>
                    <div class="col-md-8">
                        <br>
                        <div class="row">
                            <div class="col-6 col-sm-2">
                                <p class="fw-bold">GERENTE</p>
                                <H6>{{ v.gerente }}
                                </H6>
                            </div>
                            <div class="col-6 col-sm-2">
                                <p class="fw-bold">PROFESIONAL</p>
                                <H6>{{ v.profesional }}
                                </H6>
                            </div>
                            <div class="col-6 col-sm-3  ">
                                <p class="fw-bold">MAIL</p>
                                <H6>{{ v.mail }}
                                </H6>
                            </div>
                            <div class="col-6 col-md-2">
                                <p class="fw-bold">TELEFONO</p>
                                <H6>{{ v.telefono }}
                                </H6>
                            </div>
                            <div class="col-6 col-md-2">
                                <p class="fw-bold">DIRRECION</p>
                                <H6>{{ v.dirreccion }}
                                </H6>
                            </div>
                            <div class="d-grid gap-1">
                                <button class="btn btn-light" style="background-color: #ffffff;" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample" aria-expanded="false"
                                    aria-controls="collapseExample">
                                    ▼
                                </button>
                        </div>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-6 col-md-2">
                                            <p class="fw-bold">VISITA</p>
                                            <H6>{{ v.visitaprimaria }}
                                            </H6>
                                            <H6>{{ v.visitasecundaria }}
                                            </H6>
                                        </div>
                                        <div class="col-6 col-md-2">
                                            <p class="fw-bold">CAPACITACIÓN</p>
                                            <H6>{{ v.capacitacion }}
                                            </H6>
                                            <H6>{{ v.capacitacionfecha }}
                                            </H6>
                                        </div>
                                        <div class="col-6 col-md-2">
                                            <p class="fw-bold">ASESORÍA</p>
                                            <H6>{{ v.asesoria }}
                                            </H6>
                                            <H6>{{ v.asesoriafecha }}
                                            </H6>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="fw-bold">ACTIVIDAD DE MEJORA</p>
                                            <H6>{{ v.actividadmejora }}
                                            </H6>
                                        </div>  
                                        <div class="col-md-3">
                                            <p class="fw-bold">ACCIDENTABILIDAD</p>
                                            <H6>{{ v.accidentabilidad }}%
                                            </H6>
                                        </div>
                                        <div class="card-body">
                                            <br>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                                <button class="btn btn-dark" style="background-color: #4E16D1;" type="button">Agregar
                                                    Visita</button>
                                                <button class="btn btn-dark" style="background-color: #4E16D1;" type="button">Agregar
                                                    Capacitación
                                                </button>
                                                <button class="btn btn-dark" style="background-color: #4E16D1;" type="button">Agregar
                                                    Asesoria</button>
                                                <button class="btn btn-dark" style="background-color: #4E16D1;" type="button">Agregar
                                                    Actividad de
                                                    Mejora</button>
                                                <button class="btn btn-dark" style="background-color: #4E16D1;"
                                                    type="button">CheckList</button>
                                                <button class="btn btn-dark" style="background-color: #4E16D1;" type="button">Caso de
                                                    Aseroria</button>
                                            </div>
                                        </div>
                                
                                    </div>
                                </div>

                             </div>


                        </div>
                        
                    </div>
                </div>

            </div>
            {% endfor %}
            {% endblock %}